/* Accordion Container */
.accordion {
    overflow: hidden;
    margin-bottom: 4rem;
    
}

/* Accordion Items */
.accordion-item {
    margin-left: 10rem;
    margin-right: 10rem;
    opacity: 0; /* Start hidden */
    transform: translateY(-50px); /* Start with a slight upward offset */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
    /* height: 6rem; */
}

/* Animation for Falling Curtain Effect */
.accordion-item.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move into place */
}

/* Accordion Button */
.accordion-button {
    width: 100%;
    color: #495057;
    padding: 15px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s; /* Added color transition */
    height: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 5px; /* Optional: rounded corners for button */
}

/* Hover Effect for Accordion Button */
.accordion-button:hover {
    transform: scale(1.07); /* Zoom effect on hover */
    color: #333;
    background-color: #e0f2fe; /* Optional: light hover background color */
}

/* Accordion Content */
.accordion-content {
    padding: 2rem;
    background-color: #f9f9f9;
    /* border-top: 1px solid #ddd; */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

/* Learn More Button */
.learn-more-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #71a5de;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition for background */
    margin-left: 2rem;
    white-space: nowrap;
   
}

/* Hover Effect for Learn More Button */
.learn-more-button:hover {
    background-color: #588bc2; /* Darker blue on hover */
}

/* Feeling Title */
.feeling-title {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #71a5de;
    margin-bottom: 4rem;
    font-size: xx-large;
    animation: fadeIn 1s ease-in-out; /* Optional: fade-in animation for title */
}

/* Fade-in Animation for Title */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
