/* Wrapper styling */
.carousel-wrapper {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.carousel-wrapper.animate-in {
    opacity: 1;
    transform: translateX(0);
}

/* Title styling */
.experience-title {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #71a5de;
    margin-bottom: 4rem;
    font-size: xx-large;
    animation: fadeIn 1s ease-in-out;
}

/* Arrow styling */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #71a5de;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}

.carousel-arrow-left {
    left: 10px;
}

.carousel-arrow-right {
    right: 10px;
}

/* Card styling */
.carousel-card {
    background: #f8f8f8;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    min-height: 250px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.carousel-card:hover {
    transform: scale(1.05);
}

/* Container styling */
.carousel-container {
    /* padding: 0 15px; */
    overflow: hidden;
    margin-bottom: 1rem;
}

/* Slider styling */
.carousel-slider {
    width: 15%;
    margin: 2rem auto; /* Center the slider */
    display: block; /* Ensure the element is a block for centering */
    background: #71a5de; /* Blue background for the slider track */
    height: 6px;
    border-radius: 5px;
    appearance: none; /* Remove default styling */
    
}

/* Style for the thumb (slider handle) */
.carousel-slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #fff; /* White color for the thumb */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* For Firefox */
.carousel-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


