.carousel-card {
    background: #73b4a5; /* Change to the green color */
    border-radius: 5px;
    box-shadow: none; /* Remove shadow for a simpler look */
    padding: 30px; /* Add more padding for space */
    text-align: left; /* Align text to the left */
    transition: transform 0.3s;
}

.carousel-card h3 {
    font-size: 1.2rem; /* Make title font size smaller */
    margin: 0 0 10px;
    font-weight: bold; /* Increase font weight for the title */
    color: #000; /* Change to black for contrast */
}

.carousel-card p {
    font-size: 0.9rem; /* Make content font size smaller */
    margin: 0 0 10px;
    color: #000; /* Change to black for contrast */
}

.carousel-link {
    display: none; /* Hide the 'Learn more' button if not needed */
}

.slider-indicator {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    color: #000; /* Match the theme color */
}

.experiencing-title{
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #71a5de;
    margin-bottom: 4rem;
    font-size: xx-large;
    animation: fadeIn 1s ease-in-out;
}